<div class="cache-warmer">
	<h2>{{ 'Warm Caches'|t('cachewarmer') }}</h2>

	{% if total_urls > 0 %}
		<p>Ready to warm up caches :</p>

		{% for site in sites %}
			<p style="margin-bottom:0;margin-top:0.3rem">{{ site.name }} : {% if urls[site.id] is defined %} {{ urls[site.id]|length }} {% else %} 0 {% endif %} urls</p>
		{% endfor %}
		<br/>

		<button type="submit" class="btn submit secondary warmthemup">{{ 'Warm them'|t('cachewarmer') }}</button>

		<div class="break-lock" {% if not locked %}style="display:none"{% endif %}>
			<br/>
			<h2>{{ 'Break the lock'|t('cachewarmer') }}</h2>
			<p>{{ 'The warmer seems locked, you can break the lock with the button below. This can have unintended consequences if somebody else is currently running the cache warmer.'|t('cachewarmer') }}</p>
			<button class="btn">{{ 'Break it'|t('cachewarmer') }}</button>
		</div>

		<div id="cachewarmer-modal" class="modal" style="display:none">
			<div class="body">
				<h2>{{ 'Crawling urls...'|t('cachewarmer') }}</h2>
				<div class="progressBar">
				</div>
				<div class="progressNumbers centeralign">
					<span class="current">0</span> / {{ total_urls }}
				</div>
				<div class="results-container" style="display:none">
					<h2>{{ 'Log'|t('cachewarmer') }}</h2>
					<div class="results"></div>
				</div>
			</div>
			<div class="footer">
				<div class="buttons right first">
					<button class="btn close">{{ 'Close'|t('cachewarmer') }}</button>
				</div>
			</div>
		</div>
	{% else %}

		<p>{{ 'There are no urls defined in your sitemaps, check the following :'|t('cachewarmer') }}</p>
		<ul>
			<li class="cachewarmer-li">{{ 'Your have enabled at least one site in the {tag}settings{endtag}'|t('cachewarmer', {tag: '<a href="'~url('settings/plugins/cachewarmer')~'">', endtag: '</a>'})|raw }}</li>
			<li class="cachewarmer-li">{{ 'Your sitemaps are accessible through internet and contain urls'|t('cachewarmer') }}</li>
		</ul>

	{% endif %}
</div>