<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language }}">
<head>
    {{ head() }}
    <title>{{ currentSite.name }} | {{ 'Cache Warmer'|t('craftwarmer') }}</title>
</head>
<body>
    {{ beginBody() }}

    <div id="notifications"></div>

    {% include "craftwarmer/craft-warmer" %}

	{{ endBody() }}
</body>
</html>

{% js %}
var warmer_settings = {
	totalUrls: {{ totalUrls }}, 
	urlLimit: {{ urlLimit }},
	processLimit: {{ processLimit }},
	secret: '{{ secret }}',
	disableLocking: {{ disableLocking ? 'true' : 'false' }},
	urlPath: '{{ frontUrl }}'
};
{% endjs %}
