<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language }}">
<head>
    {{ head() }}
    <title>{{ currentSite.name }} | {{ 'Cache Warmer'|t('craftwarmer') }}</title>
</head>
<body>
    {{ beginBody() }}

    <div id="notifications"></div>

    {% include "craftwarmer/cache-warmer" %}

	{{ endBody() }}
</body>
</html>

{% js %}
	var max_execution_time = {{ max_execution_time }};
	var total_urls = {{ total_urls }};
	var max_urls = {% if max_urls %}{{ max_urls }}{% else %}''{% endif %};
	var max_processes = {{ max_processes }};

	function warm(modal, craftwarmer) {
		modal.show();
		craftwarmer.run().done(function(results){
			modal.addResults(results);
		}).fail(function(response){
			modal.hide();
			Craft.cp.displayError(response.responseJSON.error);
			$('.break-lock').fadeIn('fast');
		});
	}

	$(document).ready(function(){
		new Craft.CraftWarmer.Modal('#craftwarmer-modal');
		let modal = $('#craftwarmer-modal').data('modal');
		let craftwarmer = new CraftWarmer(max_execution_time, total_urls, max_urls, max_processes, modal, false);
		$('.warmthemup').click(function(){
			warm(modal, craftwarmer);
		});
		$('.break-lock button').click(function(){
			craftwarmer.unlock().done(function(data){
				Craft.cp.displayNotice(data.message);
				$('.break-lock').fadeOut('fast');
			});
		});
		warm(modal, craftwarmer);
	});
{% endjs %}
