<html>
	<head>
		<style>
		.error {
			color: #d12626;
		}
		.warning {
			color: #fc8c03;
		}
		p{
			margin-bottom: 0.5rem;
		}
		</style>
		<title>{{ 'Cache Warmer'|t('cachewarmer') }}</title>
	</head>
	<body>
		{% for error in errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}
		{% for warning in warnings %}
			<p class="warning">{{ warning }}</p>
		{% endfor %}
		<p>{{ message }}</p>
		{% for url, code in urlCodes %}
			{% if code == 200 %}
				<p>{{ 'Crawled {url} : {code}'|t('cachewarmer', {code: code, url: url}) }}</p>
			{% else %}
				<p>{{ 'Crawled {url} : {code}'|t('cachewarmer', {code: '<span class="error">'~code~'</span>', url: url})|raw }}</p>
			{% endif %}
		{% endfor %}
	</body>
</html>