{% import "_includes/forms" as forms %}

{% set errors = settings.getErrors() %}

{{ forms.lightswitchField({
    id: 'enable-front-url-field',
    label: 'Enable front url'|t('cachewarmer'),
    name: 'enableFrontUrl',
    on: settings.enableFrontUrl
}) }}

{{ forms.textField({
    id: 'front-url',
    label: 'Front url'|t('cachewarmer'),
    name: 'frontUrl',
    value: settings.frontUrl,
    instructions: 'Don\'t include site url, example : warm-cache'|t('cachewarmer'),
    errors: settings.getErrors('frontUrl'),
    }) 
}}

<div class="sites">
    {% for uid, name in sites %}
        <h3>{{ name }}</h3>
        {{ forms.lightswitch({
            label: 'Enabled'|t('cachewarmer'),
            name: 'sites[]',
            value: uid,
            class: 'site-enable',
            on: (uid in settings.sites)
        }) }}
        {{ forms.textareaField({
            label: 'Urls to ignore'|t('cachewarmer'),
            name: 'ignore['~uid~']',
            value: settings.getIgnore(uid),
            instructions: 'Enter valid regex (/forums\\/*/) or paths (forums/article1), don\'t include site url, one per line.'|t('cachewarmer')
            }) 
        }}
        {{ forms.textField({
            label: 'Sitemap'|t('cachewarmer'),
            name: 'sitemaps['~uid~']',
            value: settings.getSitemap(uid),
            instructions: 'Don\'t include site url'|t('cachewarmer'),
            }) 
        }}
    {% endfor %}
</div>

{% js %}
    function checkFrontUrl() {
        let enable = $('#settings-enable-front-url-field input');
        let url = $('#settings-front-url-field');
        if (enable.val() == 1) {
            url.show();
        } else {
            url.hide();
        }
    }
    function checkIgnore(lightswitch) {
        let ignore = lightswitch.parent().parent().next();
        if (lightswitch.hasClass('on')) {
            ignore.show();
        } else {
            ignore.hide();
        }
    }
    checkFrontUrl();
    $('#settings-enable-front-url-field').change(function(){
        checkFrontUrl();
    });
    $.each($('.sites .lightswitch'), function(){
        checkIgnore($(this));
    });
    $('.sites .lightswitch').change(function(){
        checkIgnore($(this));
    });
{% endjs %}