{% import "_includes/forms" as forms %}

{% set errors = settings.getErrors() %}

<h2>{{ 'Front url'|t('craftwarmer') }}</h2>

{{ forms.lightswitchField({
    id: 'enable-front-url-field',
    onLabel: 'Enabled'|t('craftwarmer'),
    offLabel: 'Disabled'|t('craftwarmer'),
    name: 'enableFrontUrl',
    on: settings.enableFrontUrl
}) }}

<div id="frontend-options" style="display:none;margin-top:20px">
    {{ forms.textField({
        id: 'front-url',
        label: 'Url'|t('craftwarmer'),
        name: 'frontUrl',
        value: settings.frontUrl,
        instructions: "Don't include site url, example : warm-caches"|t('craftwarmer'),
        errors: settings.getErrors('frontUrl'),
        required: true,
        size: 20
        }) 
    }}

    {{ forms.textField({
        id: 'front-secret',
        label: 'Secret key'|t('craftwarmer'),
        instructions: 'Secret key to start the warmer'|t('craftwarmer'),
        name: 'secretKey',
        value: settings.secretKey,
        errors: settings.getErrors('secretKey'),
        required: true, 
        size: 20,
        }) 
    }}
    <div id="your-front-url"><i>{{ 'Your front-end url is'|t('craftwarmer') }} : {{ currentSite.getBaseUrl() }}<span class="path">{{ settings.frontUrl }}</span>?secret=<span class="secret">{{ settings.secretKey }}</span></i></div> 
    <div id="your-nojs-url"><i>{{ 'Your no-js (curl, wget) url is'|t('craftwarmer') }} : {{ currentSite.getBaseUrl() }}<span class="path">{{ settings.frontUrl }}</span>/nojs?secret=<span class="secret">{{ settings.secretKey }}</span></i></div> 
</div>

<div class="sites" style="margin-top:20px">
    <h2>{{ 'Sites'|t('craftwarmer') }}</h2>
    {% for uid, name in sites %}
        {{ forms.lightswitchField({
            label: name,
            name: 'sites[]',
            value: uid,
            class: 'site-enable',
            on: (uid in settings.sites)
        }) }}
        <div style="margin-top:20px;display:none">
            {{ forms.textareaField({
                label: 'Urls to ignore'|t('craftwarmer'),
                name: 'ignore['~uid~']',
                value: settings.getIgnore(uid),
                instructions: "Enter one valid regex (/forums\\/*/) or path (forums/article1) per line, don't include site url."|t('craftwarmer'),
                cols: 50,
                rows: 5
                }) 
            }}
            {{ forms.textField({
                label: 'Sitemap'|t('craftwarmer'),
                name: 'sitemaps['~uid~']',
                value: settings.getSitemap(uid),
                instructions: "Don't include site url"|t('craftwarmer'),
                size: 20,
                required: true
                }) 
            }}
        </div>
    {% endfor %}
</div>

{{ forms.lightswitchField({
    label: "Auto warm pages related to an element when it's saved"|t('craftwarmer'),
    name: 'autoWarmElements',
    on: settings.autoWarmElements,
    tip: "Urls for disabled sites above won't be warmed"|t('craftwarmer')
}) }}

<h2>{{ 'Emailing'|t('craftwarmer') }}</h2>

{{ forms.lightswitchField({
    id: 'email-me',
    label: 'Email me when the warmer finishes'|t('craftwarmer'),
    name: 'emailMe',
    on: settings.emailMe
}) }}

{{ forms.autosuggestField({
    label: 'Email'|t('craftwarmer'),
    id: 'email',
    name: 'email',
    value: settings.email,
    errors: settings.getErrors('email'),
    suggestEnvVars: true,
    size: 40,
    required: true
    }) 
}}

<h2>{{ 'Advanced'|t('craftwarmer') }}</h2>

{{ forms.textField({
    type: 'number',
    label: 'Concurrent requests'|t('craftwarmer'),
    instructions: 'Number of concurrent requests one process can spawn.'|t('craftwarmer'),
    name: 'concurrentRequests',
    value: settings.concurrentRequests,
    errors: settings.getErrors('concurrentRequests'),
    required: true,
    size: 20,
    min: 1
    }) 
}}

{{ forms.textField({
    type: 'number',
    label: 'Max number of processes'|t('craftwarmer'),
    instructions: 'Number of parallel processes the cache warmer can start. The more processes the faster it will be, but it can slow down your whole site if you have lots of urls. This doesn\'t apply to the command line which will have only one process.'|t('craftwarmer'),
    name: 'maxProcesses',
    value: settings.maxProcesses,
    errors: settings.getErrors('maxProcesses'),
    required: true,
    size: 20,
    min: 1
    }) 
}}

{{ forms.textField({
    type: 'number',
    label: 'Max urls per process'|t('craftwarmer'),
    instructions: 'Maximum number of urls one process will visit. This doesn\'t apply to the command line which will visit all urls'|t('craftwarmer'),
    name: 'maxUrls',
    value: settings.maxUrls,
    errors: settings.getErrors('maxUrls'),
    required: true,
    size: 20,
    min: 1
    }) 
}}

{{ forms.textField({
    label: 'User Agent'|t('craftwarmer'),
    instructions: 'User Agent for the http requests'|t('craftwarmer'),
    name: 'userAgent',
    value: settings.userAgent,
    errors: settings.getErrors('userAgent'),
    size: 20
    }) 
}}

{{ forms.lightswitchField({
    label: 'Disable locking system'|t('craftwarmer'),
    name: 'disableLocking',
    on: settings.disableLocking
}) }}

{% js %}
    function checkFrontUrl() {
        let enable = $('#settings-enable-front-url-field input');
        let options = $('#settings-frontend-options');
        if (enable.val() == 1) {
            options.slideDown('fast');
        } else {
            options.slideUp('fast');
        }
    }
    function checkSiteSettings(lightswitch) {
        let ignore = lightswitch.parent().parent().next();
        if (lightswitch.hasClass('on')) {
            ignore.slideDown('fast');
        } else {
            ignore.slideUp('fast');
        }
    }
    function checkEmail() {
        let enable = $('#settings-email-me input');
        let email = $('#settings-email-field');
        if (enable.val() == 1) {
            email.slideDown('fast');
        } else {
            email.slideUp('fast');
        }
    }
    $('#settings-front-url-field input').keyup(function(){
        $('#settings-your-front-url .path').html($(this).val());
        $('#settings-your-nojs-url .path').html($(this).val());
    });
    $('#settings-front-secret-field input').keyup(function(){
        $('#settings-your-front-url .secret').html($(this).val());
        $('#settings-your-nojs-url .secret').html($(this).val());
    });
    checkFrontUrl();
    checkEmail();
    $('#settings-enable-front-url-field').change(function(){
        checkFrontUrl();
    });
    $('#settings-email-me').change(function(){
        checkEmail();
    });
    $.each($('.sites .lightswitch'), function(){
        checkSiteSettings($(this));
    });
    $('.sites .lightswitch').change(function(){
        checkSiteSettings($(this));
    });
{% endjs %}